.cd-car--horiz {}
.cd-car__header--horiz {}
.cd-car__headline--horiz {}
.cd-car__subheadline--horiz {}
.cd-car__body--horiz {}
.cd-car__cta__button--horiz {}
.cd-car__cta__button--horiz:hover {}

.cd-car__slides--horiz {
  display: flex;
  gap: 4px;
}

.cd-car__slide--horiz {
  display: flex;
  flex-direction: column-reverse;
  gap: 8px;
  width: 100%;
  border: 1px solid #CCCCCC;
  border-radius: 8px;
  padding: 16px;
}
.cd-car__slide__header--horiz {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.cd-car__slide__headline--horiz {
  font-size: 18px;
  font-weight: 700;
}
.cd-car__slide__subheadline--horiz {
  font-size: 14px;
  font-weight: 600;
}

.cd-car__slide__figure--horiz {
  width: 100%;
  aspect-ratio: 1 / 1;
  border-radius: 6px;
  overflow: hidden;
}

.cd-car__slide__figure--horiz .cd-car__slide__img{
  transform: scale(1);
  transition: transform 0.25s ease-in-out;
}

@media (hover:hover){
  .cd-car__slide__figure--horiz:hover {
    background: hsl(from var(--primary) h s 40% / 1);
  }
  .cd-car__slide__figure--horiz:hover .cd-car__slide__img{
    transform: scale(0.98);
  }
}
