<?xml version="1.0" encoding="UTF-8"?>

<config>
  <modules>
    <CrysD_Carousel>
      <version>0.1.4</version>
    </CrysD_Carousel>
  </modules>
  <global>
    <helpers>
      <carousel>
        <class>CrysD_Carousel_Helper</class>
      </carousel>
      <crysd_carousel>
        <class>CrysD_Carousel_Helper</class>
      </crysd_carousel>
      <CrysD_Carousel>
        <class>CrysD_Carousel_Helper</class>
      </CrysD_Carousel>
    </helpers>
    <models>
      <carousel>
        <class>CrysD_Carousel_Model</class>
        <resourceModel>carousel_mysql4</resourceModel>
      </carousel>
      <carousel_mysql4>
        <class>CrysD_Carousel_Model_Mysql4</class>
        <entities>
          <carousel>
            <table>carousel</table>
          </carousel>
          <slide>
            <table>slide</table>
          </slide>
        </entities>
      </carousel_mysql4>
    </models>
    <resources>
      <carousel_setup>
        <setup>
          <module>CrysD_Carousel</module>
          <class>Mage_Core_Model_Resource_Setup</class>
        </setup>
        <connection>
          <use>core_setup</use>
        </connection>
      </carousel_setup>
      <carousel_write>
        <connection>
          <use>core_write</use>
        </connection>
      </carousel_write>
      <carousel_read>
        <connection>
          <use>core_read</use>
        </connection>
      </carousel_read>
    </resources>
    <blocks>
      <carousel>
        <class>CrysD_Carousel_Block</class>
      </carousel>
    </blocks>
  </global>
  <frontend>
    <layout>
      <updates>
        <crysd_carousel>
          <file>crysd_carousel.xml</file>
        </crysd_carousel>
      </updates>
    </layout>
  </frontend>
  <admin>
    <routers>
      <adminhtml>
        <args>
          <modules>
            <CrysD_Carousel before="Mage_Adminhtml">CrysD_Carousel_Adminhtml</CrysD_Carousel>
          </modules>
        </args>
      </adminhtml>
    </routers>
  </admin>
  <adminhtml>
    <events>
      <controller_action_predispatch>
        <observers>
          <crysd_carousel_admin_router_log>
            <class>core/logger</class>
            <method>log</method>
            <args>
              <message>ADMIN ROUTER FIRING</message>
              <level>DEBUG</level>
              <file>router-admin.log</file>
            </args>
          </crysd_carousel_admin_router_log>
        </observers>
      </controller_action_predispatch>
    </events>
  </adminhtml>
</config>

