<div class="container">
    <div class="col-md-12">
        <img src="" alt="Image Here" />
    </div>

    <h1>Page Title</h1>

    <div class="">
        <div class="col-md-6">
            <iframe src="https://www.youtube.com/embed/y7krrMT_H74" height="315" width="560"></iframe>
        </div>
        <div class="col-md-6">
            <div class="form-header">THIS IS THE FORM TITLE</div>
            <div class="form-wrapper">{{widget type="webforms/form" webform_id="10" template="webforms/default.phtml"}}</div>
        </div>
    </div>

    <div class="col-md-12">
        Here is some more text to display at the bottom
    </div>
</div>