<?xml version="1.0"?>
<config>
    <modules>
        <Js_Guestwishlist>
            <version>0.2.0</version>
        </Js_Guestwishlist>
    </modules>
    <global>
        <models>
            <js_guestwishlist>
                <class>Js_Guestwishlist_Model</class>
                <resourceModel>js_guestwishlist_resource</resourceModel>
            </js_guestwishlist>
            <js_guestwishlist_resource>
                <class>Js_Guestwishlist_Model_Resource</class>
                <entities>
                    <guest_wishlist>
                        <table>guest_wishlist</table>
                    </guest_wishlist>
                    <wishlist_sent>
                        <table>wishlist_sent</table>
                    </wishlist_sent>
                </entities>
            </js_guestwishlist_resource>
        </models>
        <resources>
            <js_guestwishlist_setup>
                <setup>
                    <module>Js_Guestwishlist</module>
                </setup>
            </js_guestwishlist_setup>
        </resources>
        <blocks>
            <js_guestwishlist>
                <class>Js_Guestwishlist_Block</class>
            </js_guestwishlist>
        </blocks>
        <helpers>
            <js_guestwishlist>
                <class>Js_Guestwishlist_Helper</class>
            </js_guestwishlist>
        </helpers>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <js_guestwishlist before="Mage_Adminhtml">Js_Guestwishlist_Adminhtml</js_guestwishlist>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <js_guestwishlist>
                    <file>js_guestwishlist.xml</file>
                </js_guestwishlist>
            </updates>
        </layout>
    </adminhtml>
    <frontend>
        <routers>
            <js_guestwishlist>
                <use>standard</use>
                <args>
                    <module>Js_Guestwishlist</module>
                    <frontName>guest-wishlist</frontName>
                </args>
            </js_guestwishlist>
            <wishlist>
                <args>
                    <modules>
                        <js_guestwishlist before="Mage_Wishlist">Js_Guestwishlist</js_guestwishlist>
                    </modules>
                </args>
            </wishlist>
        </routers>
        <layout>
            <updates>
                <js_guestwishlist>
                    <file>js_guestwishlist.xml</file>
                </js_guestwishlist>
            </updates>
        </layout>
        <events>
            <customer_login>
                <observers>
                    <move_guest_wishlist>
                        <type>singleton</type>
                        <class>Js_Guestwishlist_Model_Observer</class>
                        <method>moveGuestWishlist</method>
                    </move_guest_wishlist>
                </observers>
            </customer_login>
        </events>
    </frontend>
</config>