<!--@subject Contact Form@-->

<!--@vars
{"var ara_asi":"ARA, ASI, PPAI or SAGE",
"var fname":"First Name",
"var lname":"Last Name",
"var companyname":"Company Name",
"var zip_code":"Zip Code",
"var emailid":"Email",
"var phone":"Phone",
"var comment":"Comments"}
@-->
<table cellpadding="0" cellspacing="0" border="0">
	<tr>
		<td class="action-content">
		  <p>A contact form has come in from the website.<br>
		  Please contact within 24 hours.</p>
		  <p><strong>Name:</strong> {{var fname}} {{var lname}}<br>
<strong>Email:</strong> {{var emailid}}<br>
<strong>Telephone:</strong> {{var phone}}<br>
<strong>Comment:</strong> {{var comment}}</p>
	   
</td>
</tr>
</table>