<?xml version="1.0"?>
<config>
    <modules>
        <Js_Category>
            <version>0.2.1</version>
        </Js_Category>
    </modules>
    <global>
        <blocks>
            <js_category>
                <class>Js_Category_Block</class>
            </js_category>
            <catalog>
                <rewrite>
                    <category_view>Js_Category_Block_Category_View</category_view>
                </rewrite>
            </catalog>
        </blocks>
        <models>
            <js_category>
                <class>Js_Category_Model</class>
                <resourceModel>js_category_resource</resourceModel>
            </js_category>
            <js_category_resource>
                <class>Js_Category_Model_Resource</class>
                <entities>
                    <featured_gallery>
                        <table>js_featured_gallery</table>
                    </featured_gallery>
                </entities>
            </js_category_resource>
        </models>
        <helpers>
            <js_category>
                <class>Js_Category_Helper</class>
            </js_category>
        </helpers>
        <resources>
            <js_category_setup>
                <setup>
                    <module>Js_Category</module>
                    <class>Mage_Catalog_Model_Resource_Setup</class>
                </setup>
            </js_category_setup>
        </resources>
        <page>
            <layouts>
                <category_landing_page translate="label">
                    <label>Category Landing Page</label>
                    <template>js/page/category_landing_page.phtml</template>
                    <layout_handle>category_landing_page</layout_handle>
                </category_landing_page>
            </layouts>
        </page>
        <events>
            <core_block_abstract_to_html_before>
                <observers>
                    <js_category_canonical_fix>
                        <type>singleton</type>
                        <class>Js_Category_Model_Observer</class>
                        <method>categoryCanonicalFix</method>
                    </js_category_canonical_fix>
                </observers>
            </core_block_abstract_to_html_before>
        </events>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Js_Category before="Mage_Adminhtml">Js_Category_Adminhtml</Js_Category>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
</config>