<?xml version="1.0"?>
<config>
    <modules>
        <Js_Import>
            <version>0.1.0</version>
        </Js_Import>
    </modules>
    <global>
        <models>
            <js_import>
                <class>Js_Import_Model</class>
                <resourceModel>js_import_resource</resourceModel>
            </js_import>
            <js_import_resource>
                <class>Js_Import_Model_Resource</class>
            </js_import_resource>
        </models>
        <resources>
            <js_import_write>
                <connection>
                    <use>js_import_database</use>
                </connection>
            </js_import_write>
            <js_import_read>
                <connection>
                    <use>js_import_database</use>
                </connection>
            </js_import_read>
            <js_import_setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </js_import_setup>
            <js_import_database>
                <connection>
                    <host><![CDATA[50.204.179.174]]></host>
                    <port><![CDATA[3306]]></port>
                    <username><![CDATA[webster]]></username>
                    <password><![CDATA[KzeewjF2USj4ijOOHrop]]></password>
                    <dbname><![CDATA[product]]></dbname>
                    <model>mysql4</model>
                    <type>pdo_mysql</type>
                    <active>1</active>
                </connection>
            </js_import_database>
        </resources>
        <blocks>
            <js_import>
                <class>Js_Import_Block</class>
            </js_import>
        </blocks>
        <helpers>
            <js_import>
                <class>Js_Import_Helper</class>
            </js_import>
        </helpers>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <js_import before="Mage_Adminhtml">Js_Import_Adminhtml</js_import>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <js_import>
                    <file>js_import.xml</file>
                </js_import>
            </updates>
        </layout>
        <events>
            <after_reindex_process_catalog_category_product>
                <observers>
                    <js_import>
                        <class>Js_Import_Model_Observer</class>
                        <method>categoryPositionSync</method>
                        <type>singleton</type>
                    </js_import>
                </observers>
            </after_reindex_process_catalog_category_product>
        </events>
    </adminhtml>
</config>
