<?xml version="1.0"?>

<config>
    <modules>
        <Mgw_Modalcart>
            <version>0.0.0</version>
        </Mgw_Modalcart>
    </modules>
    <global>
        <!-- Core rewrites and registrations -->
        <blocks>
            <!-- 1) Tell Magento “mgw_modalcart” alias → our folder -->
            <mgw_modalcart>
                <class>Mgw_Modalcart_Block</class>
            </mgw_modalcart>

            <!-- 2) Correctly rewrite the core checkout block -->
            <checkout>
                <rewrite>
                    <cart_sidebar>Mgw_Modalcart_Block_Modalcart</cart_sidebar>
                </rewrite>
            </checkout>
        </blocks>
        <models>
            <mgw_modalcart>
                <class>Mgw_Modalcart_Model</class>
            </mgw_modalcart>
            <sales>
                <rewrite>
                    <order>Mgw_Modalcart_Model_Sales_Order</order>
                </rewrite>
            </sales>
            <custom>
                <class>Mgw_Modalcart_Model</class>
                <resourceModel>custom_mysql4</resourceModel>
            </custom>
            <custom_mysql4>
                <class>Mgw_Modalcart_Model_Mysql4</class>
                <entities>
                    <custom_quote>
                        <table>sales_quote_custom</table>
                    </custom_quote>
                    <custom_order>
                        <table>sales_order_custom</table>
                    </custom_order>
                </entities>
            </custom_mysql4>
        </models>
        <helpers>
            <mgw_modalcart>
                <class>Mgw_Modalcart_Helper</class>
            </mgw_modalcart>
        </helpers>

        <!-- Existing observers -->
        <events>
            <checkout_onepage_controller_success_action>
                <observers>
                    <success_action>
                        <type>singleton</type>
                        <class>mgw_modalcart/observer_checkout</class>
                        <method>successAction</method>
                    </success_action>
                </observers>
            </checkout_onepage_controller_success_action>
            <catalog_product_get_final_price>
                <observers>
                    <modalcart_observer>
                        <class>mgw_modalcart/observer_product_price</class>
                        <method>getColumnPrice</method>
                    </modalcart_observer>
                </observers>
            </catalog_product_get_final_price>
            <sales_quote_save_before>
                <observers>
                    <save_before>
                        <type>singleton</type>
                        <class>mgw_modalcart/observer_sales</class>
                        <method>saveQuoteBefore</method>
                    </save_before>
                </observers>
            </sales_quote_save_before>
            <sales_quote_save_after>
                <observers>
                    <save_after>
                        <type>singleton</type>
                        <class>mgw_modalcart/observer_sales</class>
                        <method>saveQuoteAfter</method>
                    </save_after>
                </observers>
            </sales_quote_save_after>
            <sales_quote_load_after>
                <observers>
                    <load_after>
                        <type>singleton</type>
                        <class>mgw_modalcart/observer_sales</class>
                        <method>loadQuoteAfter</method>
                    </load_after>
                </observers>
            </sales_quote_load_after>
            <sales_model_service_quote_submit_after>
                <observers>
                    <sales_model_service_quote_submit_after>
                        <type>singleton</type>
                        <class>mgw_modalcart/observer_sales</class>
                        <method>saveOrderAfter</method>
                    </sales_model_service_quote_submit_after>
                </observers>
            </sales_model_service_quote_submit_after>
            <sales_order_load_after>
                <observers>
                    <sales_order_load_after>
                        <type>singleton</type>
                        <class>mgw_modalcart/observer_sales</class>
                        <method>loadOrderAfter</method>
                    </sales_order_load_after>
                </observers>
            </sales_order_load_after>
            <sales_convert_quote_item_to_order_item>
                <observers>
                    <sales_convert_quote_item_to_order_item>
                        <type>singleton</type>
                        <class>mgw_modalcart/observer_sales</class>
                        <method>salesConvertQuoteItemToOrderItem</method>
                    </sales_convert_quote_item_to_order_item>
                </observers>
            </sales_convert_quote_item_to_order_item>

            <!-- ERP stock-clamp observers -->
            <checkout_cart_product_add_after>
                <observers>
                    <mgw_modalcart_restrict_qty>
                        <type>singleton</type>
                        <class>mgw_modalcart/observer</class>
                        <method>restrictQuoteItemQty</method>
                    </mgw_modalcart_restrict_qty>
                </observers>
            </checkout_cart_product_add_after>
            <checkout_cart_update_items_after>
                <observers>
                    <mgw_modalcart_restrict_qty_update>
                        <type>singleton</type>
                        <class>mgw_modalcart/observer</class>
                        <method>restrictQuoteItemQty</method>
                    </mgw_modalcart_restrict_qty_update>
                </observers>
            </checkout_cart_update_items_after>
        </events>
    </global>
    <frontend>
        <routers>
            <cart>
                <use>standard</use>
                <args>
                    <module>Mgw_Modalcart</module>
                    <frontName>mgw</frontName>
                </args>
            </cart>
        </routers>
    </frontend>
    <default>
        <carriers>
            <mgw_modalcart>
                <active>1</active>
                <model>mgw_modalcart/shipping_carrier</model>
                <title>Crystal D Shipping</title>
                <sort_order>10</sort_order>
                <sallowspecific>0</sallowspecific>
                <express_max_weight>1</express_max_weight>
            </mgw_modalcart>
        </carriers>
    </default>
</config>
