<?xml version="1.0"?>
<config>
    <modules>
        <Js_Banners>
            <version>0.3.0</version>
        </Js_Banners>
    </modules>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Js_Banners before="Mage_Adminhtml">Js_Banners_Adminhtml</Js_Banners>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <global>
        <models>
            <js_banners>
                <class>Js_Banners_Model</class>
                <resourceModel>js_banners_resource</resourceModel>
            </js_banners>
            <js_banners_resource>
                <class>Js_Banners_Model_Resource</class>
                <entities>
                    <banners>
                        <table>banners</table>
                    </banners>
                </entities>
            </js_banners_resource>
        </models>
        <resources>
            <js_banners_setup>
                <setup>
                    <module>Js_Banners</module>
                </setup>
            </js_banners_setup>
        </resources>
        <blocks>
            <js_banners>
                <class>Js_Banners_Block</class>
            </js_banners>
        </blocks>
        <helpers>
            <js_banners>
                <class>Js_Banners_Helper</class>
            </js_banners>
        </helpers>
    </global>
    <crontab>
        <jobs>
            <js_schedule_banners>
                <schedule>
                    <cron_expr>*/5 * * * *</cron_expr>
                </schedule>
                <run>
                    <model>js_banners/observer::scheduleBanners</model>
                </run>
            </js_schedule_banners>
        </jobs>
    </crontab>
</config>
