<?xml version="1.0"?>
<config>
    <modules>
        <Js_Menu>
            <version>0.1.0</version>
        </Js_Menu>
    </modules>
    <global>
        <models>
            <js_menu>
                <class>Js_Menu_Model</class>
                <resourceModel>js_menu_resource</resourceModel>
            </js_menu>
            <js_menu_resource>
                <class>Js_Menu_Model_Resource</class>
                <entities>
                    <menu>
                        <table>js_menu</table>
                    </menu>
                </entities>
            </js_menu_resource>
        </models>
        <blocks>
            <js_menu>
                <class>Js_Menu_Block</class>
            </js_menu>
        </blocks>
        <helpers>
            <js_menu>
                <class>Js_Menu_Helper</class>
            </js_menu>
        </helpers>
        <resources>
            <js_menu_setup>
                <setup>
                    <module>Js_Menu</module>
                </setup>
            </js_menu_setup>
        </resources>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Js_Menu before="Mage_Adminhtml">Js_Menu_Adminhtml</Js_Menu>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
</config>